{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Mes cours
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% for attribution in attributions %}
                <div class="col s12 m2">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://picsum.photos/300/300?random={{ loop.index }}">
                            <span class="card-title">{{ attribution.program.name }}</span>
                            <a href="{{ path('program_show', {id: attribution.program.id}) }}" class="btn-floating halfway-fab waves-effect waves-light red">
                                <i class="material-icons">arrow_forward</i>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>{{ attribution.program.description }}</p>
                        </div>
                        <div class="card-action">
                            {{ attribution.program.lessons|length }} cours <br>
                            Fin le {{ attribution.endAt|date('d/m/Y') }}
                        </div>
                    </div>
                </div>
        {% else %}
            Aucun programe n'est lié à votre compte
        {% endfor %}
    </div>
</div>
{% endblock %}
