{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Exerice final
{% endblock %}
{% block body %}
    {% include 'lesson/_breadcrumb_lesson.html.twig' %}
    <div class="container">
        <h2>Pratique ! 😎</h2>
        <p>
            {{ lesson.content.finalExerciseMd|raw }}
        </p>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="waves-effect waves-light btn">Poster ma solution</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
